@media screen and (max-width: 1157px) {
  .news {
    padding-bottom: 60px;
  }
  .news__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .news__slider {
    margin-bottom: 100px;
    max-width: 75%;
  }
  .news__blog {
    margin-left: 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: -ms-grid;
    display: grid;
    margin-bottom: 50px;
    -ms-grid-columns: 30% 55%;
        grid-template-columns: 30% 55%;
    -ms-grid-rows: 30% 55%;
        grid-template-rows: 30% 55%;
        grid-template-areas: "images title" "images  text";
  }
  .news__blog:nth-child(1) {
    margin-left: 15px;
  }
  .news__images {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: images;
  }
  .news__blogs {
    display: block;
    max-width: 900px;
  }
  .news__images img {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .news__blog-title {
    margin-left: 30px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
  }
  .news__blog-text {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: text;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1050px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__map {
    max-width: 100%;
  }
  .services__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 30px 22px 0px 22px;
  }
}

@media screen and (max-width: 900px) {
  .news__slider {
    margin-bottom: 140px;
    max-width: 100%;
  }
  .advantages__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .advantages__item {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    margin: 0px 10px 50px 10px;
    padding: 0;
  }
  .slider .slick-btn {
    display: none !important;
  }
  .services__top,
  .news__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__btn,
  .news__btn {
    margin-top: 30px;
  }
  .form__box-inner {
    display: block;
  }
}

@media screen and (max-width: 840px) {
  .form__inner {
    background-image: none;
  }
  .services__btn,
  .news__btn {
    text-align: center;
  }
  .services__title-box,
  .form__title-box,
  .news__title-box {
    padding-left: 0;
    text-align: center;
    margin: 0 auto;
  }
  .services__title-box::before,
  .form__title-box::before,
  .news__title-box::before {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .news__blog-title {
    margin-left: 0;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title;
    margin-top: 10px;
  }
  .news__blog-text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: text;
    margin-left: 0;
  }
  .news__blogs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
  .news__blog:nth-child(1) {
    margin-left: 0;
  }
  .news__blog:nth-child(2) {
    margin-left: 0;
  }
  .news__blog {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 15% 35%;
        grid-template-rows: 50% 15% 35%;
        grid-template-areas: " images" " title " " text";
  }
  .news__images img {
    max-width: 100%;
    display: inline-block;
  }
  .form__box-inner .jq-selectbox__select {
    margin-bottom: 20px;
  }
  .header__btn-menu {
    display: block;
  }
  .menu ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
    z-index: 50;
  }
  .menu li {
    display: block;
    width: 100%;
    text-align: center;
  }
  .menu a {
    width: 100%;
    display: block;
    background-color: #ffc222;
  }
  .menu li + li {
    padding-left: 0 !important;
  }
  .header__contacts {
    text-align: center;
  }
  .header__btn {
    float: none;
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
  .form__box-left {
    max-width: 100%;
  }
  .form__box-right {
    max-width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .advantages__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0px 5px 50px 5px;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .news__inner .slick-btn.slick-next {
    right: 32%;
  }
  .news__inner .slick-btn.slick-prev {
    left: 32%;
  }
  .news__slider {
    padding: 37px 5px 20px 10px;
  }
  .news__slider::before {
    left: 10px;
  }
  .services__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 20px 5px 0px 5px;
    min-height: 375px;
  }
  .slider__title {
    font-size: 24px;
  }
  .slider__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .header__email {
    padding-right: 24px;
  }
  .header__btn {
    display: block;
  }
  .services__title {
    font-size: 21px;
  }
  .services__text {
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
  .menu ul {
    display: block !important;
  }
}
